# Aliases for the current shell
# Source them in the shell config

alias ls='ls -F --color=auto'
alias la='ls -AFh --color=auto'
alias ll='ls -AFhl --color=auto'
alias cp='cp -rvi'
alias mv='mv -vi'
alias py='python3'
alias v='vim'
alias vs='vim -S'
alias vrc='vim ~/.vimrc'
alias x='exa --icons'
alias gs++='g++ -Wall -fsanitize=address -fsanitize=undefined -fno-omit-frame-pointer'
alias tf='terraform'
alias trees='tree -ahF -t --du --filesfirst -C | less -R'

# tmux Aliases
alias tmas='tmux attach-session -t'
alias tmks='tmux kill-session -t'
alias tmns='tmux new-session -t'
alias tmls='tmux ls'

# Git Aliases
alias gits='git status'
alias gitf='git fetch'
alias gitp='git pull'
alias gitd='git diff'
alias gitds='git diff --staged'
alias gita='git add'
alias gitap='git add -p'
alias gitA='git add -A'
alias gitc='git commit'
alias gitcp='git commit && git push'
alias gitP='git push'
alias gitl='git log --stat'
alias gitu='git add . && git commit && git push'
alias gitch='git checkout'
alias gitsw='git switch'

