# Aliases for the current shell
# Source them in the shell config

# Filesystem Manipulation
# =======================
alias ls='ls -F --color=auto'
alias la='ls -AFh --color=auto'
alias ll='ls -AFhl --color=auto'
alias cp='cp -rvi'
alias mv='mv -vi'
alias disks='lsblk | grep -v loop'
# check for disk usage according to partitions (diskfree)
# print first line of df unaffected, then sorts by most 'Usage' field
alias diskf='echo -e "$(df -h | head -1)" && df -h | tail +2 | grep -v loop | sort -hrk3'

# Utilities
# =========
alias refish='source ~/.config/fish/config.fish'
alias rezsh='source ~/.zshrc'
alias rebash='source ~/.bashrc'
alias py='python3'
alias x='exa --icons'
alias trees='tree -ahF -t --du --filesfirst -C | less -R'
alias hypstat='hyperfine -N --warmup 5'
# always inform if files are identical
alias diff='diff -s'
alias journalfzf='journalctl | fzf --preview "echo {6..}" --preview-window="bottom:4:wrap"'
# use default fzf opts and fallbacks for handling different sorts of previews
# try to preview file with bat; if fails try to list directory with exa; else
# output formatted text
alias fzf='fzf --preview "bat --style=numbers --color=always --line-range :500 {} 2>/dev/null || exa --color=always --icons {} 2>/dev/null || echo {}"'

# System Processes
# get proc info from pid
alias pinfo='ps -fp'
# find a proc by name and output information
alias pfind='pgrep -a'
# find which program is using a resource
alias puser='fuser -uv'
# fuzzy find processes
# ** moved to scripts directory .bin/psfzf **

# Package Manager
# ===============
alias pacupd='sudo pacman -Syu --noconfirm'
alias pacups='checkupdates | fzf --preview "pacman -Qii {1}"'
alias pacfzf='pacman -Q | fzf --preview "pacman -Qii {1}" | cut -f1 -d " "'
alias pacache='du -sh /var/cache/pacman/pkg'
# remove redundant entries (multiple /usr/bin or /usr/share/ duplicates)
alias pacfiles='pacman -Ql | sort -k2 | uniq -f1 | fzf --preview "bat --color=always {2} 2>/dev/null || exa --icons {2}"'
alias paclogs='cat /var/log/pacman.log | fzf --preview "echo {3..}" --preview-window="bottom:5:wrap"'

# CP or Leetcode
# ==============
alias gs++='g++ -Wall -fsanitize=address -fsanitize=undefined -fno-omit-frame-pointer'
alias gdl='g++ -g leetcode.cpp && gdb -q ./a.out --tui'
# mneumonic for (g)cc (c)ompile (lc) leetcode (ch) codechef
alias gclc='g++ leetcode.cpp && ./a.out'
alias gcch='g++ codechef.cpp && ./a.out <inp.out | cat -A'
# start a counter for a problem, provide file argument as an alarm
alias startcount='termdown 45m --title "Problem" && mpv'

# Vim aliases
# ===========
# -S are for loading the session files (Session.vim)
alias v='vim'
alias vs='vim -S'
alias vrc='vim ~/.vimrc'
alias nvs='nvim -S'
alias lrc='lvim ~/.config/lvim/config.lua'
alias nvrc='nvim ~/.config/nvim/init.lua'
# fuzzy find and open a file in vim
alias vfzf='fzf --height 80% --preview "bat --style=numbers --color=always --line-range :500 {}" | xargs -ro vim'

# tmux Aliases
# ============
# -t refers to target session
alias tmas='tmux attach-session -t'
alias tmks='tmux kill-session -t'
alias tmns='tmux new-session -t'
alias tmls='tmux ls'

# Git Aliases
# ===========
# one-off aliases
alias gits='git status'
alias gitf='git fetch'
alias gitp='git pull'
alias gitP='git push'
alias gitb='git branch'
alias gitsw='git switch'
alias gitss='git show --stat -p'
alias gitrs='git restore --staged'

# show the number of commits
alias gitcount='git rev-list --count HEAD'

#            CHECKOUT
#            ========
alias gitch='git checkout'

# checkout parts of a file (maybe from a specific commit)
# git checkout -p <sha>^ -- <file>
alias gitchp='git checkout -p'

#             DIFF
#             ====
alias gitd='git diff'
alias gitds='git diff --staged'

#             ADD
#             ===
alias gita='git add'

# stage parts of a file
alias gitap='git add -p'
alias gitA='git add -A'
alias gitac='git add -A && git commit'

#            COMMIT
#            ======
alias gitc='git commit'
alias gitcp='git commit && git push'
alias gitu='git add . && git commit && git push'

#             LOG
#             ===
alias gitl='git log --stat --graph --color'

# track a file changes accross commits
alias gitlf='git log --follow --stat -p --'

# find a commit by message,
# add --all at end to search all branches, -i for ignorecase
alias gitlg='git log --stat --grep'
# fuzzy search for a commit in git
# ** moved to scripts directory .bin/gitfzf **

#            STASH
#            =====
alias gitstl='git stash list'
alias gitstp='git stash pop'

# show stashed changes, accepts stash index
alias gitsts='git stash show -p --stat'

# save the work in progress in a named stash
alias gitsave='git stash push -um'

