# ignore .bak extension files
*.bak
.DS_Store

# (n)vim session files
*.vim

# ignore tmux plugins folder created by tmux
# when directly symlinked
.config/tmux/plugins/

# ignore lunarvim *lock files
.config/lvim/lazy-lock.json
.config/lvim/plugin/packer_compiled.lua

# python cache
__pycache__/
*.py[o,c]
.mypy_cache/

